.wrapper{
  width: 100%;
  background-color: var(--background);
  padding: 0 30px 30px 30px;
}
.form-login{
  margin: 0 auto;
  width: 100%;
  background-color: var(--white-color);
  padding: 24px ;
  border-radius: 4px;
}
.title{
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  margin-top: 20px;


}
body .input-field{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 6px;
}
body .field-pass{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 6px;
}
.forgot-pass{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  color: #1d4ed8;
}
.submit{
  margin: 12px 0;
}
.btn-login{
  padding: 10px 6px;
  font-size: 1.8rem;
  background-color: var(--primary-color) !important;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  border: 0;
  opacity: 1;
  text-transform: uppercase;
  width: 100%;
  &:hover{
    opacity: 0.8;
  }
}
.order{
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600) {
    flex-direction: column;

  }

}
.order-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
  margin: 4px;
  border: 1px solid #cccccc;
  transition: all 0.2s linear;
  border-radius: 4px;

  svg {
    margin-right: 4px;
    color: #1d4ed8;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.register-link {
  font-size: 1.4rem;

}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
  background-color: #f87171;
  opacity: 0.9;
  border-radius: 4px;
  padding: 12px;
}
