.wrapper {
  background-color: #eff0f4;
  padding-bottom: 200px;
}

.title {
  font-size: 140%;
  margin: 0 0 10px 0;
  padding-top: 10px;
}

.frame {
  background-color: white;
  padding: 10px 0 30px 0;
}

.hr {
  font-size: 80%;
  margin: 0 3px;
  color: #9e9e9e;
}

.link {
  color: #1a9cb7;
}