.wrapper {
  width: 100%;
}

.title {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 400;
}

.result {
  font-size: 1.4rem;
  width: 50%;
  color: var(--text-color);
  padding-top: 12px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.label {
  font-size: 1.4rem;
}

.function-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-item {
  display: flex;
  align-items: center;

}

.item {
  width: 200px;
}

.content {
  margin-top: 30px;
}

.empty {
  font-size: 2rem;
  color: var(--text-color);
}
.pagination{
  padding: 20px 0;
}