.wrapper {
  width: 100%;
  padding: 12px 0;
  transition: all 0.3s linear;
  cursor: pointer;
  display: block;
  background-color:var(--white-color) ;
  

  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0 1px 5px;
  }
}

.product-original-image {
  width: 100%;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.image-gallery-thumbnail {
  cursor: pointer;
  width: 48px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }

}


.product-info {
  display: flex;
  flex-direction: column;
  padding: 0 22px;
  

}

.product-name {
  font-size: 1.4rem;
  margin-top: 60px;
  color: #404040;
  padding-top: 12px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;;
}

.new-price {
  font-size: 2rem;
  color: var(--primary-color);
}

.sale {
  color: #929292;
  font-size: 1.2rem;
}

.rating-box {
  display: flex;
  flex-direction: column;
}

.rating {
  font-size: 1.4rem;
  font-weight: 500;
}

.vote {
  display: flex;
  align-items: center;

  svg {
    color: #ffb916;
    font-size: 1.4rem;
    @media only screen and (max-width: 1000px) {
      font-size: 1.2rem;
    }
  }
}

.quantity {
  
  font-size: 1.4rem;
  color: var(--text-color);
  @media only screen and (max-width: 1000px) {
    font-size: 1.2rem;
  }
}