.wrapper{
    width: 100%;
}
body .input-field {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 20px ;
    margin-top: 2px;
    padding: 6px 6px;
    &:hover{
      border-color:#333;
    }
  }
  body .select-field {
      border-radius: 4px;
      margin-bottom: 20px ;
      margin-top: 1px;
      padding: 0 6px;
      height: 45px;
     
    }