.label-item {
    font-size: 1.4rem;
    color: #424242;
  
    span {
      color: #dc2626;
    }
  }
  body .input-field {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 6px;
    margin: 4px 0;
  }
  