.wrapper{
  width: 100%;
  height: 100%;
  padding: 0 6px;
}

.search{
  display: flex;
  align-items: center;
}

.search-input{
  flex: 1;
  background: #eff0f5;
  height: 40px;
  outline: none;
  font-size: 1.6rem;
  padding: 4px 8px;
  border: none;
}
.btn-search{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 0;
  padding: 0 14px;
  height: 40px;
}
.search-icon{
  font-size: 1.6rem;
  color: var(--white-color);
}
.search-result {
  width: 600px;
  padding: 12px 0;
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: rgb(0 0 0 /12%) 0 2px 12px;
  max-height: 282px;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 999;

  @media only screen and (max-width: 1160px) {
    width: 500px;
  }
  @media only screen and (max-width: 1160px) {
    width: 400px;
  }
  @media only screen and (max-width: 768px) {
    width: 300px;
  }
}
.result-item {
  width: 100%;
  padding: 6px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: #fafafa;
  }
}
.product-name {
  width: 100%;
  margin-left: 8px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty {
  font-size: 1.6rem;
  color: var(--title-color);
  padding-left: 8px;
}